<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Cupcake Shop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/adminlogin.css" th:href="@{/css/admin/adminlogin.css}" rel="stylesheet"/>
</head>

<body>

<header>
    <a href="../index.html" th:href="@{/}">
        <img src="../../public/images/CupcakeShop_header.png" th:src="@{/images/CupcakeShop_header.png}" width="100%"/>
    </a>
</header>

<nav>
    <ul>
        <li id="activeuser" th:if="${session.currentCustomer != null}">
            <span th:text="${session.currentCustomer.email}"></span>
        <li id="homepagebutton"><a href="../index.html" th:href="@{/}">Front page</a></li>
        <li id="loginbutton" th:if="${session.currentCustomer == null}">
            <a href="../login.html" th:href="@{/login}">Log in</a>
        </li>
        <li id="logoutbutton" th:if="${session.currentCustomer != null}">
            <a href="index.html" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>

<h1>Admin log in page</h1>
<!--Husk når denne form skal styles, så skal login-form class'en bruges-->

<div class="logIn-box">
    <div class="logIn-items">
        <h2>Log in</h2>
        <p th:if="${message}" style="color: red;">[[${message}]]</p>
        <form action="/adminlogin" th:action="@{/adminLogin}" method="post" onsubmit="console.log('Form submitted!')">
            <label for="email">E-mail</label>:
            <input type="text" id="email" name="email" autofocus="autofocus"/><br/>
            <label for="password">Password</label>:
            <input type="password" id="password" name="password"/><br/>
            <input class="button" type="submit" value="Log in"/>
        </form>
    </div>
</div>

<div th:if="${session.currentCustomer != null}">
    <span th:text="${session.currentCustomer.email}"></span>
    <a href="../index.html" th:href="@{/logout}">Logout</a>
</div>

<!--    Denne nedenstående linje, viser på siden den attribut som kommer, når der sker fejl på siden-->
<p th:text="${message}"></p>


<p><a href="../login.html" th:href="@{/login}">Customer Login</a></p>


</body>
</html>