<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Cupcake Shop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/admin/controlpanel.css" th:href="@{/css/admin/controlpanel.css}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet">
</head>

<body>
<header>
    <a href="controlpanel.html" th:href="@{/controlPanel}">
        <img id="banner" src="../public/images/CupcakeShop_header.png" th:src="@{/images/CupcakeShop_header.png}"/>
    </a>
</header>

<nav>
    <ul>
        <li><a class="active-user" th:text="${session.currentAdmin.email}"></a></li>
        <li><a href="admin/controlpanel.html" th:href="@{/controlPanel}">Control Panel</a></li>
        <li id="logoutbutton" th:if="${session.currentAdmin != null}">
            <a href="index.html" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>

<h2 class="admin-title">ADMIN PANEL</h2>

<div class="button-container">
    <p class="welcome-message">Welcome, admin: <span th:text="${session.currentAdmin.email}"></span></p>
    <a href="/admin/vieworders.html" th:href="@{/viewOrders}" class="admin-button">View all orders</a>
    <a href="/admin/createadmin.html" th:href="@{/createAdmin}" class="admin-button">Create admin</a>
    <a href="/admin/addbalance.html" th:href="@{/addbalance}" class="admin-button">Add user balance</a>

</div>


</body>
</html>