h1{
    width: 50px;
    font-size: 128px;
    font-family: Inter;
    font-weight: 400;
    position: relative;
    left: 250px;
    z-index:-10;

}

#rectangle{
    width:800px;
    height:300px;
    background: #fdd0d0;
    position: relative;
    left:225px;
    bottom: 320px;
    z-index:-11;

}
#banner {
    padding: 0px;
}

#cupcake1{
    position: relative;
    left: 1000px;
    bottom: 625px;
    scale: 70%
}
