<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Cupcake Shop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/createcustomer.css" th:href="@{/css/createcustomer.css}" rel="stylesheet"/>
</head>

<body>

<header>
    <a href="index.html" th:href="@{/}">
        <img src="../public/images/CupcakeShop_header.png" th:src="@{/images/CupcakeShop_header.png}" width="100%"/>
    </a>
</header>

<nav>
    <ul>
        <li style="float:right"><a href="index.html" th:href="@{/}">Front Page</a></li>
        <li style="float:right"><a href="login.html" th:href="@{/login}">Log in</a></li>
    </ul>
</nav>


<!--Husk når denne form skal styles, så skal create-form class'en bruges-->

<div class="createCustomer-Box">
    <div class="createCustomer-Items">
        <h2>Log in</h2>
        <p th:if="${message}" style="color: red;">[[${message}]]</p>
        <form action="/createcustomer" th:action="@{/createcustomer}" method="post" onsubmit="console.log('Form submitted!')">
            <label for="email">E-mail</label>:
            <input type="text" id="email" name="email" autofocus="autofocus"/><br/>
            <label for="password">Password</label>:
            <input type="password" id="password" name="password"/><br/>
            <input class="button" type="submit" value="Log in"/>
        </form>
    </div>
</div>

<div th:if="${session.currentCustomer != null}">
    <span th:text="${session.currentCustomer.email}"></span>
    <a href="index.html" th:href="@{/logout}">Logout</a>
</div>

<!--    Denne nedenstående linje, viser på siden den attribut som kommer, når der sker fejl på siden-->
    <p th:text="${message}"></p>

</body>
</html>