<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <title>Cupcake Shop - Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Montserrat:wght@400&display=swap" rel="stylesheet">
</head>

<body>

<header>
    <a th:href="@{/}">
        <img id="banner" th:src="@{/images/CupcakeShop_header.png}" alt="Cupcake Shop Banner"/>
    </a>
</header>

<nav>
    <ul>
        <li><a th:href="@{/}">Front Page</a></li>
        <li><a th:href="@{/login}">Log in</a></li>
        <li th:if="${session.currentCustomer != null}">
            <a th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>

<main class="content-wrapper">
    <div class="text-group">
        <div id="rectangle">
            <h1>ORDER CUPCAKES TODAY </h1>
        </div>
        <h2>Olsker Cupcakes - The taste of Bornholm!</h2>
        <h3>Olsker Cupcakes is not just a bakery – it’s a deep-ecological adventure from Bornholm. With the finest ingredients and a passion for craftsmanship, we create cupcakes that not only taste heavenly but also tell a story. Perfection baked into every bite – natural, sustainable, and irresistible!</h3>
    </div>
    <img id="cupcake1" th:src="@{/images/cupcakel.jpg}" alt="Lækker cupcake"/>
</main>

<div class="page-overlay"></div>

<div class="logIn-box">
    <div class="logIn-items">
        <h2>Login or create user for Olsker Cupcakes<br> </h2>
        <p th:if="${message}" class="error-message-login">[[${message}]]</p>

        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="email">Type your email below</label>
                <input type="text" id="email" name="email" placeholder="Email" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label for="password">Type your password below</label>
                <input type="password" id="password" name="password" placeholder="Password"/>
            </div>
            <div class="form-actions">
                <input class="button login-button" type="submit" value="Login"/>
                <a class="button create-button" th:href="@{/createCustomer}">Create user</a>
            </div>
        </form>

        <div class="back-action">
            <a class="button back-button" th:href="@{/}">Cancel</a>
        </div>
    </div>
</div>

<p class="admin-login-link"><a th:href="@{/adminLogin}">Admin Login</a></p>

</body>
</html>